@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,700,300);

svg{
    width: 80px;
    /* height: 80px; */
    margin: 0 0 0 4px;
    display:inline-block;
  }

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#todolist .true {
    text-decoration: line-through;
}

#todolist .false {
    
}

#todolist div {
    user-select: none;
}

#todolist .delete {
    font-weight: bold;
    margin-left: 10px;
    font-size: .8em;
    visibility: hidden;
    padding: 0 5px;
    transition: .2s all;
    color: white;
}

#todolist div:hover .delete {
    visibility: visible;
    color: #666;
}

#todolist .delete:hover {
    visibility: visible;
    color: red !important;
}